<div class="row">
    <div class="col-md-1 {{p}}">

    </div>
    <div class="col-md-1 score">
        {{pawnCount}} 
    </div>
    <div class="col-md-1 {{n}}">

    </div>
    <div class="col-md-1 score">
        {{knightCount}} 
    </div>
    <div class="col-md-1 {{b}}">

    </div>
    <div class="col-md-1 score">
        {{bishopCount}} 
    </div>
    <div class="col-md-1 {{r}}">

    </div>
    <div class="col-md-1 score">
        {{rookCount}} 
    </div>
    <div class="col-md-1 {{q}}">

    </div>
    <div class="col-md-1 score">
        {{queenCount}} 
    </div>
    <div class="col-md-2 score">
        Score: {{score}}
    </div>
</div>