<div class="chess-board">
    <div *ngIf="isBoardFlipped" class="grid-container">
        <div *ngFor="let i of boardIndexes.slice().reverse()"
            class="grid-item-container"
            [ngClass]="{'active-grid-item': board[i]}"
            id="{{squares[i]}}" 
            (drop)="onDrop($event, squares[i])" 
            (dragover)="onDragover($event)"
            (mousedown)="onMouseDown($event, squares[i])"
            (mouseup)="onMouseUp($event)"
            (mouseenter)="onMouseEnter(squares[i])"
            (contextmenu)="preventContextMenu($event)">
            <div *ngIf="board[i]" class="grid-item" [ngClass]="board[i]" [draggable]="!isEditMode" (dragstart)="onDragStart($event, squares[i], board[i])"></div>
        </div>
    </div>
    <div *ngIf="!isBoardFlipped" class="grid-container">
        <div *ngFor="let i of boardIndexes"
            class="grid-item-container"
            [ngClass]="{'active-grid-item': board[i]}"
            id="{{squares[i]}}" 
            (drop)="onDrop($event, squares[i])" 
            (dragover)="onDragover($event)"
            (mousedown)="onMouseDown($event, squares[i])"
            (mouseup)="onMouseUp($event)"
            (mouseenter)="onMouseEnter(squares[i])"
            (contextmenu)="preventContextMenu($event)">
            <div *ngIf="board[i]" class="grid-item" [ngClass]="board[i]" [draggable]="!isEditMode" (dragstart)="onDragStart($event, squares[i], board[i])"></div>
        </div>
    </div>
    <div class="background"></div>
</div>