.grid-container {
    background: grey;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    position: relative;
}

.grid-item-container {
    position: relative;
    width: 100%;
    border: 1px solid black;
}

.grid-item {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.action-button {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.castling {
    font-weight: bold;
    font-size: xx-large;
}

.next-move {
    font-weight: bold;
    font-size: x-large;
}

.next-move-buttons {
    width: 100%;
}

.selected-piece {
    background: darkolivegreen;
}